<div class="main">
  <h1>Блины</h1>
  <h2>Компоненты</h2>

  <ul>
    <li *ngFor="let item of items" (click)="addTodo(item)" class="item">{{item}}</li>
  </ul>
  <p>Тесто для блинов делается опарным или безопарным способом. 
    Его состав: дрожжи, пшеничная мука, вода и (или) молоко, яйца, растопленное сливочное масло или маргарин, соль, сахар. 
    Тесту дают подняться два раза. На хорошо разогретую и смазанную маслом сковороду выливают порцию теста и равномерно распределяют по поверхности. 
    Поджаривают и переворачивают на другую сторону.</p>
</div>